html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  background-color: #2c2e3d;
}
.pricing-table {
  width: 100%;
  background-color: #ffffff;
}
.container,
.title-light {
  margin: 0 9.1%;
  height: 960px;
  /* background-color: #2c2e3d; */
}

/* ---------------main-menu--------------- */
.main-menu {
  width: 100%;
  background-color: #2c2e3d;
  padding-top: 35px;
  color: #ffffff;
}
.main-menu .menu-header {
  display: flex;
}
.main-menu .logo {
  float: left;
  font-family: Montserrat;
}
.main-menu .logo img {
  vertical-align: middle;
  transform: translateY(-7px);
}
.main-menu .logo span {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.main-menu .nav-header {
  float: left;
  margin-left: 60px;
}
.main-menu .nav-header li {
  float: left;
}
.main-menu .nav-header a {
  display: block;
  line-height: 30px;
  color: #83909d;
  margin: 0 24px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.main-menu .nav-right-header {
  float: right;
  margin-left: 50px;
}
.main-menu .nav-right-header li {
  line-height: 30px;
  float: left;
  display: block;
  margin: 0 20px;
}

.main-menu a:hover {
  color: #00bcd4;
  cursor: pointer;
}
.top-nav a.icon {
  display: none;
}
.main-menu .nav-header .active {
  margin-top: -5px;
  font-weight: bold;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.main-menu .nav-header .icon {
  height: 18px;
}

/* ----------------slider-dark---------------- */
.slider-dark {
  color: #ffffff;
  max-height: 900px;
  text-align: center;
  padding-top: 60px;
}
.slider-dark img,
.slider img {
  position: relative;
  margin: 120px auto 0px;
}
.slider-dark h1 {
  font-family: "Montserrat - Ultra Light";
  font-size: 70px;
  font-weight: 400;
  line-height: 50px;
  margin: 110px auto 70px;
  text-transform: uppercase;
}
.slider-dark span {
  text-transform: uppercase;
  font-weight: 100 !important;
}
.slider-dark p {
  margin: 65px auto 0;
  line-height: 25px;
  margin-left: 60px;
}
.slider-dark .btn {
  display: inline-block;
  border-radius: 50px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 80px 25px 150px;
  cursor: pointer;
}
.slider-dark .purchase {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #2c2e3d;
}
.slider-dark .more-detail {
  color: #00bcd4;
  border: 2px solid #00bcd4;
  background-color: #2c2e3d;
}
.slider-dark li {
  position: relative;
  display: inline;
  color: #ffffff;
  margin: 23px;
}
.slider-dark .round-pager .fa-circle {
  color: #00bcd4;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

/* ---------arrow---------- */
.slider-dark a {
  color: #ffffff;
  z-index: 9;
  position: relative;
}
.fa-arrow-left {
  float: left;
  background-color: #212331;
  padding: 20px;
  width: 80px;
  transform: translateX(-120px) translateY(-450px);
}
.fa-arrow-right {
  float: right;
  background-color: #212331;
  padding: 20px;
  width: 80px;
  transform: translateX(120px) translateY(-450px);
}
.fa-arrow-left:hover,
.fa-arrow-right:hover {
  background-color: #00bcd4;
}

/* ------------- title-light ----------- */
.title-light {
  max-height: 590px;
}
.title-light h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin: 140px auto 77px;
  font-family: "Myriad Pro";
}
.title-light span {
  font-weight: bold;
}
.title-light p {
  clear: left;
  font-size: 16pt;
  line-height: 32px;
  margin-bottom: 160px;
  font-family: "Source Sans Pro";
}

/* --------------tables--------------------- */
.tables {
  margin: 0 9.1%;
}

.columns {
  float: left;
  margin-bottom: 100px;
}
.pricing-table {
  float: left;
}

/* ---------------------- slider ------------------- */
.slider {
  width: 100%;
  background-color: #494b58;
  text-align: center;
  float: left;
  color: #ffffff;
}
.slider h1 {
  font-size: 75px;
  font-weight: 300;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  margin: 75px auto 100px;
}
.slider p {
  margin: 0 9.1%;
  line-height: 25px;
  text-align: justify;
}
.slider .btn {
  border-radius: 50px;
  font-weight: 400;
  padding: 10px 20px;
  margin: 80px 25px 150px;
  cursor: pointer;
}
.slider .purchase {
  color: #00bcd4;
  border: 2px solid #00bcd4;
  background-color: #494b58;
}

/* -----------------footer .widgets ----------------- */
.footer .widgets {
  padding: 120px 9.1%;
  background-color: #212331;
  float: left;
}
.widgets .columns {
  width: 20%;
  margin-left: 40px;
  position: relative;
  color: #ffffff;
}
.widgets .columns .header {
  float: left;
}
.widgets .columns .header p {
  text-align: justify;
  padding: 40px 0;
  line-height: 20px;
  font-size: 14px;
  color: #dfe5e8;
}
.widgets .columns h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 30px;
}
.widgets .columns .contact {
  line-height: 25px;
  font-size: 14px;
}
.contact a {
  color: #16a7b9;
}
.widgets .columns .contact hr {
  margin: 30px 0;
  border: 1px dashed #dfe5e8;
}
.widgets .columns .contact li {
  line-height: 25px;
}
.widgets h1 .fa.fa-caret-down {
  transform: rotate(45deg) translate(0px, 5px);
  color: #f50057;
}

.widgets .columns .recent-post {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 20px;
}
.widgets .columns .recent-post .fa-circle {
  font-size: 50px;
  color: #b6c6c9;
}
.widgets .columns .recent-post li {
  border-bottom: 1px dashed #dfe5e8;
  padding: 10px 0;
}
.widgets .columns .recent-post .flex-li {
  display: flex;
}
.widgets .columns .recent-post .flex-li div {
  margin-left: 10px;
}
.widgets .columns .recent-post p {
  color: #16a7b9;
}
.widgets .columns .recent-post small {
  float: right;
}

.widgets .columns .useful-link .links li {
  border-bottom: 1px dashed #dfe5e8;
  padding: 15px 0;
}
.widgets .useful-link .links li:last-child {
  border: none;
}

.widgets .columns input,
textarea {
  padding: 10px;
  margin: 10px 0;
  color: #dfe5e8;
  background: #181828;
  text-align: left;
  border: 1px solid #dfe5e8;
}
.widgets .columns input:hover,
textarea:hover {
  border: 1px solid #16a7b9;
  border-radius: 5px;
}
.widgets .columns .email button {
  background-color: #394050;
  color: #99a9b5;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20%;
  border-radius: 5px;
}

.widgets .columns .project {
  margin-top: 60px;
}
.widgets .columns .flex-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #212331;
}

.widgets .columns .flex-container > div {
  background-color: #b6c6c9;
  width: 60px;
  margin: 2px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
}
.widgets .columns .newsletter {
  margin-top: 125px;
}
.widgets .columns .newsletter p,
input,
small {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 20px;
}
/* -----------------footer .meunu-socials----------- */
.footer .menu-socials {
  width: 100%;
  float: left;
  padding: 0 9.1%;
  text-align: center;
  background-color: #181828;
  font-size: 14px;
}
.menu-socials .copy-right {
  float: left;
  margin: 40px 0;
  font-size: 14px;
  color: #ffffff;
}
.menu-socials .copy-right span {
  color: #00bcd4;
}
.menu-socials .footer-nav .nav {
  margin: 0 25%;
}
.footer-nav .nav li {
  float: left;
  display: block;
  font-family: "Source Sans Pro";
  text-align: center;
  position: relative;
  margin: 40px 0px;
}
.footer-nav .nav .text a {
  color: #ffffff !important;
  padding: 0px 30px;
  border-right: 1px solid #dddddd;
}

.footer-nav .nav-right {
  float: right;
}
.footer-nav .nav-right li {
  float: left;
}
.footer-nav .nav-right .social a {
  position: relative;
  float: left;
  margin: 40px 10px;
  display: block;
  text-align: center;
}
.nav-right .social .fa-twitter {
  color: #16a7b9;
}
.nav-right .social .fa-facebook {
  color: #315bd6;
}
.nav-right .social .fa-linkedin {
  color: #0288d1;
}
.nav-right .social .fa-instagram {
  color: #786f4c;
}
.nav-right .social .fa-youtube-play {
  color: #ae0e0e;
}
.nav-right .social .fa-google-plus {
  color: #c83a33;
}
.nav-right .social .fa-pinterest-p {
  color: #ff5757;
}
